.modal-product, .history-modal, .background-side-menu {
  z-index: 9;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 20vh;
  background: rgba(0, 0, 0, 0.2);
}

.products {
  margin-bottom: 0.7em;
}

.products ul:not(.config-list) {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 37em;
  margin: auto;
  padding: 0.8em;
  background: white;
  border-radius: 0.6em;
}

.item-product {
  border-radius: 0.3em;
  padding: 0.6em;
  position: relative;
  background: white;
  margin-left: 0.6em;
  margin-right: 0.6em;
}

li:not(:nth-child(2)) .item-product {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.add-list-title {
  margin: 0.8em;
}

.list-element {
  background: #eaeaea;
  border-radius: 0.3em;
}

.move-itens-list {
  margin: 0 1em;
}

.product-page {
  padding-top: 0.7em;
}

.product-decrease-quantity {
  position: absolute;
  right: 0;
}

.move-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 3.5em;
  background: yellowgreen;
  border-radius: 50%;
  position: fixed;
  bottom: 2%;
  right: 2%;
}

@media screen and (max-width: 900px) {
  .item-product p, .item-product span {
    margin: 0.3em 0;
  }

  .item-product {
    padding: 0.3em;
  }

  .list-title {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #eaeaea;
    padding: 0.6em;
    will-change: transform;
  }

  .products-list-container {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    column-gap: 1em;
  }

  .list-element {
    min-width: calc(100vw - 6em);
    scroll-snap-align: center;
    scroll-snap-stop: always;
    flex: 1;
    overflow-y: auto;
    height: 98vh;
  }

  .list-element.add-list-list-element {
    height: 100%;
  }

  ul.list-element:last-child {
    margin-right: 1em;
  }

  ul.list-element:first-child {
    margin-left: 1em;
  }

  .mobile-nav {
    position: sticky;
    top: 3.75em;
    padding: 0.6em;
    z-index: 1;
    background: white;
  }

  .modal-product {
    padding: 0;
  }

  .modal-product .container {
    height: 100vh;
    width: 98%;
    overflow: auto;
  }
}

@media screen and (min-width: 900px) {
  .products-list-container {
    overflow: auto;
    display: flex;
    column-gap: 0.6em;
    max-height: calc(100vh - 5.4em); /* Navbar heigh + padding + margin = 4.7em */
  }
  
  .list-title {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
    height: 5em;
    background: #eaeaea;
    padding: 0.6em;
  }
  
  .list-element {
    flex: 1;
    overflow: auto;
    min-width: 25.75em;
  }

  .open-create-list-section {
    display: inline-block;
  }

  .close-create-list-section {
    display: inline-block;
  }

  .add-list-list-elements {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.move-to-other-list-element:checked + .item-product {
  background: rgb(202 232 141);
}

.item-product-bar {
  content: '';
  position: absolute;
  width: 100%;
  background: blueviolet;
  bottom: 0;
  left: 0;
  height: 0.5em;
  border-radius: 0.3em;
}

.label-priority, .label-low-amount, .label-out-of-stock {
  padding: 0.3em;
  color: white;
  display: inline-block;
}

.label-priority-1 {
  color: red;
  border: 0.1em solid red;
}

.label-priority-2 {
  color: orange;
  border: 0.1em solid orange;
}

.label-priority-3 {
  color: #00c2e0;
  border: 0.1em solid #00c2e0;
}

.config-fieldset {
  width: 100%;
}

.label-low-amount {
  background: rgb(241, 241, 35);
  color: black;
}

.label-out-of-stock {
  background: grey;
}

.add-list {
  background: #eaeaea;
  padding: 0.6em;
}

.side-menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: white;
  z-index: 11;
  padding: 0.7em;
  transition: right 0.2s ease-out;
  --aside-menu-width: -100vw;
}


.side-menu.side-menu-hide {
  right: var(--aside-menu-width);
}

.side-menu.side-menu-collapse {
  right: 0;
}
