@media screen and (max-width: 900px) {
  .buy-section *, .modal-product-fields * {
    flex: 1 100%;
  }

  .buy-section {
    padding: 0 0.6em;
    background: #eaeaea;
    margin-bottom: 0.6em !important;
  }

  .body-element .buy-section input[type="text"],
  .body-element .buy-section input[type="number"],
  .body-element .buy-section input[type="search"],
  .body-element .buy-section select {
    width: 100%;
  }

  .body-element .modal-product-fields input[type="text"],
  .body-element .modal-product-fields input[type="number"],
  .body-element .buy-section input[type="search"],
  .body-element .modal-product-fields select {
    width: 100%;
  }
}

.buy-section {
  max-width: 960px;
  margin: auto;
}

.new-product-item {
  display: flex;
  align-items: center;
}
